body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white !important;
  padding: 20px;
}

:root {
  --primary-color: #2e343d;
}

.container {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.button {
  border-radius: 10px;
}
